<div class="container_intro">
	
	<div class="flexbox">
		<div class="tile flexbox-2" style="background-color: #3F5D5D;" >
    			<%= link_to "/colors/a" , { :class=>"cover-img" } do %><%= image_tag("1l.png", :class=>"cover-img") %><% end %>
		</div>
		<div class="tile flexbox-1" style="background-color: #0A2B60;" >
    			<%= link_to "/colors/b" , { :class=>"cover-img" } do %><%= image_tag("1r.png", :class=>"cover-img") %><% end %>
		</div>
	</div>
	
	
	<div class="flexbox">
		<div class="tile flexbox-1" style="background-color: #3A3D5E; ">
    			<%= link_to "/colors/c" , { :class=>"cover-img" } do %><%= image_tag("2l.png", :class=>"cover-img") %><% end %>
		</div>
		<div class="tile flexbox-2" style="background-color: #52134A; ">
    			<%= link_to "/colors/d" , { :class=>"cover-img" } do %><%= image_tag("2r.png", :class=>"cover-img") %><% end %>
		</div>
	</div>
	
	<div class="flexbox">
		<div class="tile flexbox-2" style="background-color: #877567; ">
    			<%= link_to "/colors/e", { :class=>"cover-img" }  do %><%= image_tag("3l.png", :class=>"cover-img") %><% end %>
		</div>
		<div class="tile flexbox-1" style="background-color: #3E6876; ">
			
    			<%= link_to "/colors/f" , { :class=>"cover-img" } do %><%= image_tag("3r.png", :class=>"cover-img") %><% end %>
			
		</div>
	</div>
	
	<div class="flexbox">
		<div class="tile flexbox-3" style="background-color: #5D4C5F; ">
			
    			<%= link_to "/colors/g" , { :class=>"cover-img" } do %><%= image_tag("4.png", :class=>"cover-img") %><% end %>
			
		</div>
	</div>
	
	<div class="flexbox">
		<div class="tile flexbox-1" style="background-color: #214D4E; ">
			
    			<%= link_to "/colors/h", { :class=>"cover-img" }  do %><%= image_tag("5l.png", :class=>"cover-img") %><% end %>
			
		</div>
		<div class="tile flexbox-2" style="background-color: #5F2A0B; ">
			
    			<%= link_to "/colors/i" , { :class=>"cover-img" } do %><%= image_tag("5r.png", :class=>"cover-img") %><% end %>
			
		</div>
	</div>
	
	<div class="flexbox">
		<div class="tile flexbox-3" style="background-color: #102E0A; ">
			
    			<%= link_to "/colors/j" , { :class=>"cover-img" } do %><%= image_tag("6.png", :class=>"cover-img") %><% end %>
			
		</div>
	</div>
</div>
</div>